*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 50px 92px 50px;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

.header_menu {
    align-self: center;
}

.header__menu_list {
    display: flex;
    gap: 32px;
    list-style-type: circle;
}

.header__menu_list__first_li {
    display: block;
}

.header_links-list-item {
    list-style: circle;
}

.header_logo {
    display: block;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-image: url(./images/logo-black.svg);
    border: 6px;
}

.address {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-style: normal;
    align-items: flex-start;
    text-decoration-skip-ink: none;
}

.header_address {
    justify-self: end;
    max-width: 240px;
}

.cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgba(0, 0, 0, 1);
    opacity: 60%;
    width: 100%;
}

.cover_title {
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 1.0;
    color: rgba(255, 255, 255, 1);
    padding: 165px 50px 106px 50px;
}

.aligned-text {
    display: block;
    margin-top: 20px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.cover_description {
    display: flex;
    flex-direction: row;
    gap: 107px;
    font-size: 22px;
    font-family: Raleway, sans-serif;
    padding: 0 50px 50px 50px;
    align-items: center;
    text-transform: uppercase;
}

.cover_description-text {
    color: rgba(255, 255, 255, 1);
    word-spacing: 1.1rem;
    font-weight: 400;
}

.bet-button {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    padding: 12px 32px 11px 31px;
}

.lots {
    min-width: 100%;
    padding: 180px 24px 153px 24px;
    display: flex;
    flex-direction: column;
}

.lots_heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    padding: 0px 915px 27px 40px;
}

.lots_card-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
}

.lots_card-list-item {
    width: 334px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-link {
    min-height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
    
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_title {
    padding: 48px 40px 0 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    line-height: 120%;
    font-style: normal;
}

.card_text {
    padding: 0 40px 48px 40px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    font-style: normal;
}

.lots_look-more-link {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    padding-top: 30px;
    padding-left: 40px;
    line-height: 100%;
    text-decoration-skip-ink: none;
}

.about {
    padding: 0 24px 180px 24px;
}

.about_column {
    display: grid;
    grid-template-columns: 334px 1fr;
    justify-items: center;
}

.about_title {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
    padding: 100px 390px 0 0;
}

.about_text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 24px;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 4px;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    line-height: 1.2;
}

.about__logo {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: rgb(0 0 0);
    border-radius: 50%;
    padding: 35px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px 88px 50px;
    width: 100%;
    color: #000;
    font-size: 18px;
    place-content: center;
}

.footer_address {
    justify-self: start;
    font-style: normal;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_links-list {
    display: flex;
    flex-direction: column;
    column-gap: 32px;
    font-size: 18px;
    align-items: center;
    justify-self: center;
    list-style-type: none;
}

.menu-link_active {
    text-decoration: none;
}

.footer_social-list {
    justify-self: end;
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
}

.footer_social-list-item {
    display: block;
    flex-direction: row;
    height: 48px;
    width: 48px;
}
